.revenue__progress{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.progress{
    width: 100px;
    height: 100px;
}

.revenue__progress-title{
    font-weight: 500;
    color: gray;
}
.revenue__progress-amount {
    font-size: 30px;
  }

.revenue__progress-desc {
    font-weight: 300;
    font-size: 12px;
    color: gray;
    text-align: center;
  }
.ant-card-head{
    border-bottom: none !important;
}
.summary {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.summary__item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.item__title{
    font-size: 14px;
    color: gray;
}
.item__result{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 14px;
}

.item__result.positive {
    color: green;
  }
.item__result.negative {
    color: red;
}
.progress-icon{
    cursor: pointer;
    font-size:20px
}